/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* PAGE */
.login-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("/assets/login.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  z-index: -1;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


/* TOP BAR */
.top-actions {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  padding: 6px;
}

.signup-link {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
}

/* FORM CARD */
.form-box {
  width: 430px;
  background: #fff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
  border: 4px solid #000;
}

/* TEXT */
.form-box h1 {
  font-size: 1.4rem;
  font-weight: 700;
}

.subtitle {
  font-size: 0.8rem;
  color: #666;
  margin: 8px 0 15px;
}

.title {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

/* INPUTS */
.input-group {
  margin-bottom: 12px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1.5px solid #000;
  font-size: 0.85rem;
}

.password {
  position: relative;
}

.password .toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 999px;
  border: none;
  background: #000;
  color: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 8px;
}

/* LINKS */
.forgot {
  display: block;
  font-size: 0.75rem;
  color: red;
  margin: 10px 0;
  text-decoration: none;
}

.account {
  font-size: 0.75rem;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider p {
  font-size: 0.75rem;
  margin: 0 8px;
}

/* SOCIALS */
.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials img {
  width: 28px;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .form-box {
    width: 90%;
  }

  .top-actions {
    padding: 0 20px;
  }
}
