<div class="login-page">

  <!-- TOP BAR -->
  <div class="top-actions">
    <div class="logo-box">
      <img src="assets/logo.png" alt="Pet's Logo" />
    </div>
    <a routerLink="/dashboard/signup" class="signup-link">Sign up</a>
  </div>

  <!-- LOGIN CARD -->
  <div class="form-box">

    <h1>Welcome Back!</h1>

    <p class="subtitle">
      Please enter your information below <br />
      and get started
    </p>

    <h2 class="title">Login into dashboard</h2>

    <div class="input-group">
      <input type="email" placeholder="Email" />
    </div>

    <div class="input-group password">
      <input type="password" placeholder="Password" />
      <span class="toggle">👁</span>
    </div>

    <button class="login-btn">Log in</button>

    <a class="forgot">Forget your password ?</a>

    <p class="account">
      Already have account?
      <a routerLink="/dashboard/signup">Log in</a>
    </p>

    <div class="divider">
      <span></span>
      <p>or sign in using</p>
      <span></span>
    </div>

    <div class="socials">
      <img src="assets/google.png" />
      <img src="assets/facebook.png" />
    </div>

  </div>
</div>
