<footer class="footer">
  <div class="footer-content">

    <div class="footer-box">
      <h3>Pet’s Place</h3>
      <p>
        Sed viverra eget fames sit varius. Pellentesque mattis libero viverra
        dictumst ornare sed justo convallis vitae.
      </p>
    </div>

    <div class="footer-box">
      <h3>Liens rapides</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-box">
      <h3>Contact</h3>
      <p>Rue el Ouard, Zaghouan</p>
      <p>+216 26 131 180</p>
    </div>
  </div>

  <div class="social-area">
    <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
  </div>

  <p class="copy">© Copyright Pet’s Place 2024</p>
</footer>
