<section class="hero-section">
  <div class="hero-text">
    <h1>Find your perfect<br><span>Food & accessoires</span></h1>
    <p>
      Welcome to our store dedicated to dog and cat lovers! We offer you a complete range of animal products and professional grooming services to pamper your companions, while taking care of their well-being and appearance.
    </p>
    <button class="btn-shop">Shop Now</button>

    <div class="hero-items">
      <img src="assets/1.png" alt="pet 1" />
      <img src="assets/2.png" alt="pet 2" />
      <img src="assets/3.png" alt="pet 3" />
      <img src="assets/4.png" alt="pet 4" />
    </div>
  </div>

  <div class="hero-image">
    <img src="assets/dog.png" alt="Dog with paw prints" />
    <img src="assets/bird.png" alt="Flying bird" class="bird" />
  </div>
</section>


<!-- ===== SECTION 1: HERO BANNER ===== -->
<!-- ===== SECTION 2: CATEGORIES ===== -->

<section class="hero-banner">
  <img src="assets/hero.png" alt="Pet's Place banner" />
</section>


<section class="categories">
  <div class="categories-header">
    <h2>Browse by category</h2>
    <div class="arrows">
      <button class="arrow-btn left" (click)="scrollLeft()">&#8592;</button>
      <button class="arrow-btn right" (click)="scrollRight()">&#8594;</button>
    </div>
  </div>

<div class="category-grid" #categoryGrid>
  <div class="category-card" *ngFor="let cat of categories">
    <img [src]="cat.image" [alt]="cat.name" />
    <div class="card-bottom">
      <div class="text">
        <h3>{{ cat.name }}</h3>
        <p>{{ cat.count }} produits</p>
      </div>
      <div class="arrow">
          <img src="assets/arrow.png" alt="arrow icon" />
        </div>
    </div>
  </div>
</div>

</section>






